.bookingSectionMap iframe{
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 10px;
}

.ConfirmBookMain{
    padding-top: 120px;
}

.bookingHotel{
    display: flex;
    margin-bottom: 20px;
}

.bookingSectionText{
    width: 58%;
    margin-right: 2%;
    float: left;
    margin-top: 30px;
}

.bookingSectionMap{
    width: 40%;
    float: right;
}

.bookingHotelImg{
    width: 32%;
    height: auto;
    border-radius: 5px;
}

.bookingHotelText{
    text-align: left;
    padding-left: 10px;
}

.hotelRoomTitle{
    font-size: 21px;
}

.hotelRoomInfo{
    font-size: 19px;
    color: rgb(102, 101, 101);
}

.hotelRoomSpan{
    font-size: 19px;
    color: rgb(102, 101, 101);
}

.hotelRatingAndPrice{
    display: flex;
}

.hotelRating{
    color: black;
    font-weight: bold;
    margin-right: 50px;
}

.hotelRating svg{
    color: #F9A51A;
    margin-right: 10px;
    margin-top: -3px;
}

.hotelPrice{
    color: black;
    margin-right: 50px;
}

.hotelPrice span{
    color: rgb(95, 95, 95);
    font-weight: lighter;
    margin-right: 50px;
}