.message-col {
    height: 200px;
    background: url("https://images.pexels.com/photos/3788363/pexels-photo-3788363.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
}

.message-col-text {
    background-color: rgba(0, 0, 0, 50%);
}

.message-col h3 {
    font-family: 'Leckerli One', cursive;
}

.search-result-dropdown {
    position: absolute !important;
    height: 200px !important;
    z-index: 1111111 !important;
    top: 38px !important;
    cursor: default;
    padding: 0 !important;
}

.search-result-dropdown .align-items-center{
    margin-top: 60px !important;
}